.image{
    height: 500px;
    width: 500px;
    margin-left: 600px;
    margin-top: 100px;
    position: fixed;
}
.eye1{
    width: 90px;
    height: 100px;
    background-color: rgb(251, 249, 249);
    margin-left: 760px;
    margin-top: 210px;
    border-radius: 60px 60px 60px 60px;
    position: fixed;
}
.eye2{
    width: 90px;
    height: 105px;
    background-color: white;
    margin-left: 860px;
    margin-top: 200px;
    border-radius: 60px 60px 60px 60px;
    position: fixed;
}
.ball{
    width: 25px;
    height: 25px;
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 150px 150px 150px 150px;
    position: absolute;
}